<a href="https://colab.research.google.com/github/rshaikh95/datasci_2_manipulation/blob/main/Week2HWRahilShaikh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



> Healthcare Data Cleaning
### Load Data

In [ ]:
import pandas as pd

dfs = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/HHA_507_2023/main/WK2/data/healthcare_data_cleaning.csv')

### Data Interpretation
#### This is a dataset regarding patient demographics, vitals and medical records.
#### There are a large number of rows and small number of columns. The hospital has a large number of patients which are the rows and the columns display specific info about said patient

In [ ]:
# Check the size and shape of the DataFrame
print("Number of rows:", dfs.shape[0])
print("Number of columns:", dfs.shape[1])

dfs.columns

### Data Cleaning: Cleaning Special Characters and White Space

In [50]:
import pandas as pd
import re

# Function to remove white space and special characters from a value
def clean_column_names(df):
    # Define a helper function to clean column names
    def clean_name(name):
        cleaned_name = re.sub(r'[^a-zA-Z0-9]', '', name)
        return cleaned_name.lower()

    # Rename columns using the helper function
    # This is using a list comprehend - e.g., we have a list to the right of the equals sign,
    # and inside the list, we are applying our function, for every col (or X) that exists in df.columns
    df.columns = [clean_name(col) for col in df.columns]
    return df

# Apply the clean_value function to all columns
dfs = clean_column_names(dfs)

dfs.columns

Index(['patientage', 'gender', 'cityofresidence', 'stateofresidence',
       'hasinsurance', 'visitedlastmonth', 'paymentmethod', 'preferreddoctor',
       'diseasediagnosed', 'medicationprescribed', 'typeofappointment',
       'averageheartrate', 'averagebp', 'heightincm', 'weightinkg',
       'paymentdue', 'lastvisitdaysago', 'visitdurationmins', 'numberoftests',
       'prescriptioncost'],
      dtype='object')

### Identifying Missing Values

In [60]:
dfs.fillna(0, inplace=True)

### Previewing Dataset to remove any duplicate row or columns

In [62]:
paymentdue = dfs['patientage']
dfs.fillna(missing, inplace=True)
paymentdue

0              45
1              25
2              51
3              18
4              48
           ...
104995         74
104996         37
104997         51
104998    missing
104999         45
Name: patientage, Length: 105000, dtype: object

In [ ]:
dfs['City of Residence'].value_counts()

In [ ]:
Duplicate1 = dfs[dfs['City of Residence'] == 'Lake Michael']
Duplicate1.groupby(['City of Residence']).sum()